In [1]:
import os
import numpy as np
import pandas as pd

In [4]:
# cargar datos
productos = pd.read_csv(os.path.join("Datos_luchetti.csv"), sep=",")
productos.head()

              producto  precio  costo
0       espaghettini_3     650    300
1       espaghettini_5     650    300
2        tallarines_77     650    300
3        tallarines_78     650    300
4  cabellos_de_angel_1     650    300

In [7]:
# cargar datos
nombres = pd.read_csv(os.path.join("nombres.csv"), sep=",")
nombres.head()

  nombres apellido        comuna  fase
0    Iris   Decker      santiago   3.0
1     Ivy    Watts         renca   4.0
2    Maya   Finley         maipu   4.0
3   Nolan    Cohen   puente_alto   3.0
4   Wayne  Winters  san_bernardo   3.0