In [37]:
import os
import numpy as np
import pandas as pd

In [38]:
# cargar datos
productos = pd.read_csv(os.path.join("datos_luchetti.csv"), sep=",")
productos.head()

              producto  precio  costo  produccionxhora
0       espaghettini_3     650    300              250
1       espaghettini_5     650    300              250
2        tallarines_77     650    300              250
3        tallarines_78     650    300              250
4  cabellos_de_angel_1     650    300              250

In [39]:
# cargar datos
nombres = pd.read_csv(os.path.join("nombres.csv"), sep=",")
nombres.head()

  nombres apellido        comuna  fase  distancia  contaminacion  sueldoxhora
0    Iris   Decker      santiago     3          1           0.00         3000
1     Ivy    Watts         renca     4         10           0.53         3000
2    Maya   Finley         maipu     4         17           0.53         3000
3   Nolan    Cohen   puente_alto     3         27           0.16         2500
4   Wayne  Winters  san_bernardo     3         20           0.53         2500

In [53]:
dat=open("datos.dat","w") 

dat.write("#abstract1.dat AMPL data format \n")

33

In [54]:
n,c = nombres.shape  
m,l = productos.shape

In [55]:
dat.write("\n \nSet I := ")
for i in range(1,m):
    dat.write(str(i)+" ")

In [56]:
dat.write("\nSet J := ")
for i in range(1,n):
    dat.write(str(i)+" ")

In [57]:
dat.write("\n \nparam C := \n")
for i in range(1,m):
    dat.write(str(i)+" "+str(productos["costo"][i])+"\n")

In [58]:
dat.write("\n \nparam F := \n")
for i in range(1,n):
    dat.write(str(i)+" "+str(nombres["fase"][i])+"\n")

In [59]:
dat.write("\n \nparam Q := \n")
for i in range(1,m):
    dat.write(str(i)+" "+str(productos["produccionxhora"][i])+"\n")

In [60]:
dat.write("\n \nparam S := \n")
for i in range(1,n):
    dat.write(str(i)+" "+str(nombres["sueldoxhora"][i])+"\n")

In [61]:
dat.write("\n \nparam D := \n")
for i in range(1,n):
    dat.write(str(i)+" "+str(nombres["distancia"][i])+"\n")

In [62]:
dat.write("\n \nparam Cont := \n")
for i in range(1,n):
    dat.write(str(i)+" "+str(nombres["contaminacion"][i])+"\n")