# Codigo para ver los datos de csv

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# cargar datos
productos = pd.read_csv(os.path.join("Codigo","prueba_csv","datos_luchetti.csv"), sep=",")
productos.head()

              producto  precio  costo  produccionxhora
0       espaghettini_3     650    300              250
1       espaghettini_5     650    300              250
2        tallarines_77     650    300              250
3        tallarines_78     650    300              250
4  cabellos_de_angel_1     650    300              250

In [3]:
# cargar datos
nombres = pd.read_csv(os.path.join("Codigo","prueba_csv","datos_nombres.csv"), sep=",")
nombres.head()

  nombres apellido        comuna  fase  distancia  contaminacion  sueldoxhora
0    Iris   Decker      santiago     3          1           0.00         3000
1     Ivy    Watts         renca     4         10           0.53         3000
2    Maya   Finley         maipu     4         17           0.53         3000
3   Nolan    Cohen   puente_alto     3         27           0.16         2500
4   Wayne  Winters  san_bernardo     3         20           0.53         2500